@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&family=Source+Code+Pro&display=swap');

/* RESET */
/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
margin: 0;
}
/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
font: inherit;
}
/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
/*
8. Create a root stacking context
*/
#root, #__next {
isolation: isolate;
}

.indent1 {
    margin-left: 1.5em;
}
.indent2 {
    margin-left: 3em;
}
.indent3 {
    margin-left: 4.5em;
}

a {
    text-decoration: none;
    color: var(--primary);
}

button {
    cursor: pointer;
}
  
:root {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    --text: #050400;
    --black: #3f3f3b;
    --background: #fffae3;
    --primary-dark: #1a8b87;
    --primary: #28b1ad;
    --primary-shadow: #1c9995;
    --primary-light: #d1e9e8;
    --primary-light-shadow: #aed1d0;
    --secondary-dark: #e5ddc9;
    --secondary: #fff2da;
    --accent-dark: #891350;
    --accent: #c94c8d;
    --accent-light: #fb93c9;
    --font-bold: 800;
    --code-font: 'Source Code Pro';
}

body {
    background-color: var(--background);
}

header {
    color: var(--background);
    background-color: var(--primary);
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: .5em 1.5em;
}

header-h1 {
    font-weight: var(--font-bold);
}

header > nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


header > nav > ul > li {
    margin-left: 1em;
}

header > nav > ul > li > a {
    color: var(--background);
    transition: all .1s ease-in;

}
header > nav > ul > li > a:hover {
    color: var(--secondary-dark);
}

body div main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em;
}

body div main a section {
    height: 100%;
    padding: 1.5em;
    border-radius: 1em;
    background-color: var(--secondary);
    transition: all .15s ease-in;
}

body div main a section:hover {
    color: var(--accent);
    box-shadow: 5px 5px 10px  var(--secondary-dark);
}

.puzzle-container {
    display: grid;
    gap: 2em;
    grid-template-columns: minmax(23em, 2fr) 3fr;
}

.puzzle-container > div.sidebar {
    background-color: var(--primary-light);
    padding: 1em;
    border-radius: 0 10px 10px 0;
    border-bottom: 4px solid var(--primary-light-shadow);
}

.puzzle-container > div.sidebar p {
    margin-bottom: 1em;
}

.puzzle-container > div.puzzle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--black);
    color: var(--background);
    padding: 1em;
    border-radius: 10px 0 0 10px;
    font-family: var(--code-font);
    border-bottom: 4px solid var(--text);
}

.puzzle-container > div.puzzle > .code > p {
    margin-top: .45em;
}

.puzzle-container > div.puzzle span:not(.drop-spot) {
    margin-right: -.5em;
}

.puzzle-container .drawer {
    position: relative;
    height: 5em;
    border-radius: 10px;
    background-color: black;
    margin: 0;
}

.code-example {
    background-color: var(--black);
    color: var(--background);
    padding: 1em;
    border-radius: 10px;
    font-family: var(--code-font);
    border-bottom: 4px solid var(--text);
    line-height: .6em;
    padding-bottom: 0;
}